/* 
    Project: REACT Demo for Education Horizons Group
    Sprint: 1
    Task: 1
    Author: Vineet W. Singh 
    Start Date: 22/4/21
    Date of last edit: 23/4/2021
    Date of last review:
*/
body {
  background-color:lightgray;
  color: black;
  margin:0px;
  padding:0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


